body {
    
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Arial, sans-serif !important; }
.spinner-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
}